<div class="conteiner-fluid main">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 cols">
      <app-data-input></app-data-input>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 cols">
      <app-info></app-info>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 cols">
      <app-controls-panel></app-controls-panel>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 cols">
      <app-settings></app-settings>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 cols output">
      <app-output></app-output>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-12 cols output">
      <app-latest-done></app-latest-done>
    </div>
  </div>
</div>
<app-settings-popup></app-settings-popup>