.com-section{
    width: 100%;
}
.com-container{
    padding: 0;
}
.modal-content{
    padding: 15px;
}
.modal-content *{
    text-transform: none; 
}
.modal-dialog{
    margin: auto;
}
.modal-body{
    padding: 0;
}
.modal-footer{
    padding: 0;
}
#comment-area{
    width: 100%;
    min-height: 150px;
    resize: none;
}
.newspaper {
    column-count: 3;
    column-width: 200px;
    column-gap: 5px;
}
.comments{
    text-align: left;
    display: block;
}
.redo-area{
    padding-left: 5px;
}