<div class="modal fade" id="settings-modal" role="dialog" *ngIf="config">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title">Settings</h5>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" #signupForm="ngForm">
          <div class="form-group form-group-sm">
            <label class="control-label col-sm-3" for="path-to-wf">Path to working folder:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control input-sm" id="path-to-wf" placeholder="D:\working folder\" name="pathToWF" [(ngModel)]="config.pathToWF">
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label class="control-label col-sm-3" for="path-to-sorce">Path to history sorce:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control input-sm" id="path-to-sorce" placeholder="D:\sorce folder\" name="pathToSF" [(ngModel)]="config.pathToSF">
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label class="control-label col-sm-3" for="path-to-mimics">Path to Mimics:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control input-sm" id="path-to-mimics" 
                placeholder="C:\Program Files\Materialise\Mimics Medical 19.0\MimicsMedical.exe" 
                name="pathToMimics" [(ngModel)]="config.pathToMimics">
            </div>
          </div>
          <div class="form-group form-group-sm">
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox">
                <label><input type="checkbox" name="isDoubleOpen" [(ngModel)]="config.isDoubleOpen"> Open double Mimics for recon</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="OnConfigChange(signupForm)">Ok</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>