<div class="controls-container">
  <div class="col-xs-5 col-sm-5 controls">
    <div class="form-group">
      <button class="btn btn-default" (click)="OnGenerate()">start</button>
      <div class="checkbox">
        <label for="open-mimics"><input type="checkbox" id="open-mimics" [(ngModel)]="openMimics"> Run Mimics</label>
      </div>
    </div>
  </div>
  <div class="col-xs-7 col-sm-7 controls">
    <div class="btn-group">
      <a href="#" class="btn btn-default" [ngxClipboard]="inputTargetDef">
     Copy path
    <input class="copy-path" type="text" readonly value="{{path}}{{currentCase.caseId}}\{{currentCase.caseId}}.mcs" #inputTargetDef>
  </a>
      <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li>
          <a href="#" [ngxClipboard]="inputTargetFib">
        Fibula
        <input class="copy-path" type="text" readonly value="{{path}}{{currentCase.caseId}}\{{currentCase.caseId}}_fibula.mcs" #inputTargetFib>
      </a>
        </li>
        <li>
          <a href="#" [ngxClipboard]="inputTargetHip">
        Hip
        <input class="copy-path" type="text" readonly value="{{path}}{{currentCase.caseId}}\{{currentCase.caseId}}_hip.mcs" #inputTargetHip>
      </a>
        </li>
        <li>
          <a href="#" [ngxClipboard]="inputTargetScap">
       Scapula
        <input class="copy-path" type="text" readonly value="{{path}}{{currentCase.caseId}}\{{currentCase.caseId}}_scapula.mcs" #inputTargetScap>
      </a>
        </li>
      </ul>
    </div>
  </div>
</div>