<div class="controls-container">
  <div class="form-group form-inline">
    <a href="#" class="btn btn-default" [class.disabled]="!currentCase" (click)="onGenerate()">start</a>
    <div class="checkbox">
      <label for="open-mimics"><input type="checkbox" id="open-mimics" [disabled]="!currentCase" [(ngModel)]="openMimics"> Run Mimics</label>
    </div>
  </div>
  <div class="btn-group">
    <a href="#" class="btn btn-default" [class.disabled]="!currentCase" [ngxClipboard]="inputTargetDef">
     Copy path
    <input class="copy-path" *ngIf="currentCase" type="text" readonly value="{{config.pathToWF}}{{currentCase.caseId}}\{{currentCase.caseId}}.mcs" #inputTargetDef>
  </a>
    <a href="#" class="btn btn-default dropdown-toggle" [class.disabled]="!currentCase" data-toggle="dropdown"><span class="caret"></span></a>
    <ul class="dropdown-menu" *ngIf="currentCase">
      <li>
        <a href="#" [ngxClipboard]="inputTargetFib">
        Fibula
        <input class="copy-path" type="text" readonly value="{{config.pathToWF}}{{currentCase.caseId}}\{{currentCase.caseId}}_fibula.mcs" #inputTargetFib>
      </a>
      </li>
      <li>
        <a href="#" [ngxClipboard]="inputTargetHip">
        Hip
        <input class="copy-path" type="text" readonly value="{{config.pathToWF}}{{currentCase.caseId}}\{{currentCase.caseId}}_hip.mcs" #inputTargetHip>
      </a>
      </li>
      <li>
        <a href="#" [ngxClipboard]="inputTargetScap">
       Scapula
        <input class="copy-path" type="text" readonly value="{{config.pathToWF}}{{currentCase.caseId}}\{{currentCase.caseId}}_scapula.mcs" #inputTargetScap>
      </a>
      </li>
    </ul>
  </div>

  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalReject">comment</button>

  <div id="modalReject" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="col-md-4">
            <textarea class="form-control" name="" id="comment-area"></textarea>
            <button type="button" class="btn btn-default" data-dismiss="modal">create comment</button>
          </div>
          <div class="col-md-4 rej-container">
            <div class="btn-group-vertical rej-section">
              <a href="#" class="btn btn-default">No DICOM images in the archive.</a>
              <a href="#" class="btn btn-default">The data has expired. Study date:</a>
              <a href="#" class="btn btn-default">Slice thickness = ..mm. Increment = ..mm</a>
              <a href="#" class="btn btn-default">No graft data in the archive.</a>
              <a href="#" class="btn btn-default">Small cut-off at the </a>
              <a href="#" class="btn btn-default">Gantry tilt detected.</a>
            </div>
          </div>
          <div class="col-md-4 rej-container">
            <div class="btn-group-vertical rej-section">
              <a href="#" class="btn btn-default">Patient's data doesn’t match.</a>
              <a href="#" class="btn btn-default">FOV doesn’t cover ROI completely.</a>
              <a href="#" class="btn btn-default">Less than 20mm around defect area.</a>
              <a href="#" class="btn btn-default">Condylar heads are not in the fossae.</a>
              <a href="#" class="btn btn-default">Please confirm ROI.</a>
              <a href="#" class="btn btn-default">Please confirm if we can proceed.</a>
            </div>
          </div>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
</div>